# Завжди ігнорувати папку зі встановленими бібліотеками
node_modules/


# Ігнорувати файли .map, вони потрібні лише для розробки (дебагінгу)
*.css.map
Scss/index.css.map

# Файли конфігурації редактора коду (наприклад, VS Code)
.vscode/

# Системні файли (для macOS і Windows)
.DS_Store
Thumbs.db