@use 'variables' as *;

* {
  font-family: $main-font;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  font-family: $main-font;
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    box-shadow: 0 0 10px #a600ff, 0 0 20px #a600ff;
    img {
      width: 300px;
      height: 100px;
    }
    ul {
      display: flex;
      align-self: center;
      li {
        margin-right: 50px;
        list-style: none;

        a {
          text-decoration: none;
          color: #ebebeb;
          padding: 8px 16px;
          border-radius: 8px;
          transition: all 0.3s ease;

          &:hover {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 5px #a600ff, 0 0 10px #a600ff;
            text-shadow: 0 0 5px #fff, 0 0 10px #a600ff;
            transform: translateY(-2px);
          }
        }
      }
    }
  }
  .nav_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  .nav_buttons button {
    margin-right: 20px;
    padding: 10px 15px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px #a600ff, 0 0 10px #a600ff;
    text-shadow: 0 0 5px #fff, 0 0 10px #a600ff;
    border-radius: 15px;
  }
  .nav_buttons button:hover {
    transform: scale(1.1);
  }
}

main {
  text-align: center;
  h1 {
    color: #ff00ff;
    text-shadow: 0 0 10px #a600ff, 0 0 20px #a600ff, 0 0 120px #ff00ff;
    font-size: 6rem;
  }
  p {
    font-size: 1.5rem;
    margin-top: 25px;
    font-family: $second-font;
  }
  div {
    img {
      width: 300px;
    }
  }
}

@media (max-width: 768px) {
  header {
    nav {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      align-items: center;

      ul {
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
      }
    }
    
    .nav_buttons {
        flex-wrap: wrap;
        gap: 10px;
    }
  }

  main {
    h1 {
      font-size: 4.5rem;
    }
  }
}

@media (max-width: 430px) {
  header {
    nav {
      img {
        width: 250px;
        height: auto;
      }

      ul {
        flex-direction: column;
        gap: 15px;

        li {
          margin-right: 0;
        }
      }
    }

    .nav_buttons {
      flex-direction: column;
      gap: 15px;

      button {
        margin-right: 0;
        width: 80%;
      }
    }
  }

  main {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
    }

    div img {
      width: 90%;
      height: auto;
    }
  }
}
  